{{ $photoimg := resources.Get "nuage-de-mots.png" }}
{{ $alt := "nuage de mots" }}

{{ if gt $photoimg.Width 320 }}
    {{ $image := $photoimg.Resize "600x" }} 
    <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $alt }}" />
{{ else }}
    <img src="{{ $photoimg.RelPermalink }}" width="{{ $photoimg.Width }}" height="{{ $photoimg.Height }}" alt="{{ $alt }}" />
{{ end }}

<nav>
    <ul>
        {{ $data := (.Scratch.Get "content") }}
        {{ with $data.PersonalData.Title }}
        <li><a href="#section-{{ $data.PersonalData.Title | urlize }}"><i class="{{ $data.PersonalData.Icon }}"></i> {{ $data.PersonalData.Title }}</a></li>
        {{ end }}
        {{ with $data.BriefProfile.Title }}
        <li><a href="#section-{{ $data.BriefProfile.Title | urlize }}"><i class="{{ $data.BriefProfile.Icon }}"></i> {{ $data.BriefProfile.Title }}</a></li>
        {{ end }}
        {{ with $data.Experience.Title }}
        <li><a href="#section-{{ $data.Experience.Title | urlize }}"><i class="{{ $data.Experience.Icon }}"></i> {{ $data.Experience.Title }}</a></li>
        {{ end }}
        {{ with $data.AcademicEducation.Title }}
        <li><a href="#section-{{ $data.AcademicEducation.Title | urlize }}"><i class="{{ $data.AcademicEducation.Icon }}"></i> {{ $data.AcademicEducation.Title }}</a></li>
        {{ end }}
        {{ with $data.ProfessionalTraining.Title }}
        <li><a href="#section-{{ $data.ProfessionalTraining.Title | urlize }}"><i class="{{ $data.ProfessionalTraining.Icon }}"></i> {{ $data.ProfessionalTraining.Title }}</a></li>
        {{ end }}
        {{ with $data.SchoolEducation.Title }}
        <li><a href="#section-{{ $data.SchoolEducation.Title | urlize }}"><i class="{{ $data.SchoolEducation.Icon }}"></i> {{ $data.SchoolEducation.Title }}</a></li>
        {{ end }}
        {{ with $data.FurtherEducation.Title }}
        <li><a href="#section-{{ $data.FurtherEducation.Title | urlize }}"><i class="{{ $data.FurtherEducation.Icon }}"></i> {{ $data.FurtherEducation.Title }}</a></li>
        {{ end }}
        {{ with $data.Diplomas.Title }}
        <li><a href="#section-{{ $data.Diplomas.Title | urlize }}"><i class="{{ $data.Diplomas.Icon }}"></i> {{ $data.Diplomas.Title }}</a></li>
        {{ end }}
        {{ with $data.Languages.Title }}
        <li><a href="#section-{{ $data.Languages.Title | urlize }}"><i class="{{ $data.Languages.Icon }}"></i> {{ $data.Languages.Title }}</a></li>
        {{ end }}
        {{ with $data.Organizations.Title }}
        <li><a href="#section-{{ $data.Organizations.Title | urlize }}"><i class="{{ $data.Organizations.Icon }}"></i> {{ $data.Organizations.Title }}</a></li>
        {{ end }}
        {{ with $data.Skills.Title }}
        <li><a href="#section-{{ $data.Skills.Title | urlize }}"><i class="{{ $data.Skills.Icon }}"></i> {{ $data.Skills.Title }}</a></li>
        {{ end }}
        {{ with $data.Interests.Title }}
        <li><a href="#section-{{ $data.Interests.Title | urlize }}"><i class="{{ $data.Interests.Icon }}"></i> {{ $data.Interests.Title }}</a></li>
        {{ end }}
        {{ with $data.Contacts2.Title }}
        <li><a href="#section-{{ $data.Contacts2.Title | urlize }}"><i class="{{ $data.Contacts2.Icon }}"></i> {{ $data.Contacts2.Title }}</a></li>
        {{ end }}

        {{ with $data.WebReferences.Title }}
        <!-- page des crédits du site -->
        <li><a href="#section-{{ $data.WebReferences.Title | urlize }}"><i class="{{ $data.WebReferences.Icon }}"></i> {{ $data.WebReferences.Title }}</a></li>
        {{ end }}
    </ul>
</nav>